html
{
	margin:0px;
	padding:0px;
	
}
body
{
	padding-top:60px;
	padding-bottom:60px;
}

.container-fluid
{
	padding:0px;
}
.navbar-header
{
	/* width: 100%; */
}
.newText
{
	margin-top:20px;
	padding:15px;
}
.navbar-header .navbar-brand
{
	padding:0px;
	
}

.navbar-brand img
{
	width: auto;
	vertical-align: middle;

} 

.nav-pills li a.navItem
{
	background:#fff;
	color:#666;
}
.nav-pills li.active a
{
	background:red;
	
}

#slidershow
{
	width: 100%;
}
.carousel-inner img
{
	width: 100%;
	
}
.newText
{
	font-size:20px;
}
.new-left
{
	width: 100%;
	position:relative;
	

}
.new-left img
{
	width: 100%;
	
	/* margin-top:200px; */

}
ul.new-ul
{
	list-style: none;
	padding: 0px;
}
ul.new-u li
{
	font-size:14px;
}

a{
	color:#666;
}

.intitute
{
	margin-bottom:20px;
	height: 114px;

	
}
.intituteImg 
{
	width: 114px;
	height: 114px;
	border: 3px solid #ddd;
	border-radius: 50%;
	vertical-align: top;
}
.intitute-text
{
	display:inline-block;
	width: 50%;
	height: 114px;
	
}
.intitute-text a
{
	color: #000;
}
.intitute-text p
{
	width: 100%;
  font-size: 16px;
word-wrap: break-word;
}

.activeImg-left
{
	width: 100%;
	height: 300px;
	position:relative;
	overflow: hidden;

}
.activeImg-left img
{
	width: 100%;
	height: 100%;
	
}

 .activeImg-right
 {
 	width: 100%;
	height: 300px;
 }
.new-info
{
	text-align:center;
	width: 100%;
	position:absolute;
	z-index:1;
	height: 100%;
	/* border: 1px solid #000; */
	background:#2f2f2f;
}
.left-animation
{
	position:absolute;
	z-index:2;
	left:0px;
	right:0px;
}
.activeImg-right .activeImg-top
{
	width: 100%;
	height: 50%;
	position:relative;
	overflow: hidden;
}
.activeImg-top img
{
	width: 100%;
	height: 100%;

}
.activeImg-bottom
{
	width: 100%;
	height:50% ;
	
}
.bottom-box
{
	width: 48%;
	height: 100%;
	position:relative;
	display:inline-block;
	overflow: hidden;
	left:0px;
	
}
.activeImg-right .activeImg-bottom img
{
	width: 100%;
	height: 100%;
}
	
.navbar-fixed-bottom
{
	line-height:49px;
	color:#fff;
	font-size:12px;
	background-color:#2f2f2f;
}


